FormerWebLabeling/Service References/GlsCheckAddress/wsCheckAddress.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://checkaddress.gls-italy.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://checkaddress.gls-italy.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://checkaddress.gls-italy.com/">
      <s:element name="CheckAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SedeGls" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CodiceClienteGls" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PasswordClienteGls" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SiglaProvincia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cap" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Localita" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Indirizzo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckAddressResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CheckAddressSoapIn">
    <wsdl:part name="parameters" element="tns:CheckAddress" />
  </wsdl:message>
  <wsdl:message name="CheckAddressSoapOut">
    <wsdl:part name="parameters" element="tns:CheckAddressResponse" />
  </wsdl:message>
  <wsdl:message name="CheckAddressHttpGetIn">
    <wsdl:part name="SedeGls" type="s:string" />
    <wsdl:part name="CodiceClienteGls" type="s:string" />
    <wsdl:part name="PasswordClienteGls" type="s:string" />
    <wsdl:part name="SiglaProvincia" type="s:string" />
    <wsdl:part name="Cap" type="s:string" />
    <wsdl:part name="Localita" type="s:string" />
    <wsdl:part name="Indirizzo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckAddressHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="CheckAddressHttpPostIn">
    <wsdl:part name="SedeGls" type="s:string" />
    <wsdl:part name="CodiceClienteGls" type="s:string" />
    <wsdl:part name="PasswordClienteGls" type="s:string" />
    <wsdl:part name="SiglaProvincia" type="s:string" />
    <wsdl:part name="Cap" type="s:string" />
    <wsdl:part name="Localita" type="s:string" />
    <wsdl:part name="Indirizzo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckAddressHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="wsCheckAddressSoap">
    <wsdl:operation name="CheckAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Identifica la destinazione univoca nella base dati Gls o ritorna la lista delle destinazioni sintatticamente più simili in base ai valori specificati.</wsdl:documentation>
      <wsdl:input message="tns:CheckAddressSoapIn" />
      <wsdl:output message="tns:CheckAddressSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsCheckAddressHttpGet">
    <wsdl:operation name="CheckAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Identifica la destinazione univoca nella base dati Gls o ritorna la lista delle destinazioni sintatticamente più simili in base ai valori specificati.</wsdl:documentation>
      <wsdl:input message="tns:CheckAddressHttpGetIn" />
      <wsdl:output message="tns:CheckAddressHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsCheckAddressHttpPost">
    <wsdl:operation name="CheckAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Identifica la destinazione univoca nella base dati Gls o ritorna la lista delle destinazioni sintatticamente più simili in base ai valori specificati.</wsdl:documentation>
      <wsdl:input message="tns:CheckAddressHttpPostIn" />
      <wsdl:output message="tns:CheckAddressHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsCheckAddressSoap" type="tns:wsCheckAddressSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAddress">
      <soap:operation soapAction="https://checkaddress.gls-italy.com/CheckAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCheckAddressSoap12" type="tns:wsCheckAddressSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckAddress">
      <soap12:operation soapAction="https://checkaddress.gls-italy.com/CheckAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCheckAddressHttpGet" type="tns:wsCheckAddressHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="CheckAddress">
      <http:operation location="/CheckAddress" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsCheckAddressHttpPost" type="tns:wsCheckAddressHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="CheckAddress">
      <http:operation location="/CheckAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsCheckAddress">
    <wsdl:port name="wsCheckAddressSoap" binding="tns:wsCheckAddressSoap">
      <soap:address location="https://checkaddress.gls-italy.com/wscheckaddress.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCheckAddressSoap12" binding="tns:wsCheckAddressSoap12">
      <soap12:address location="https://checkaddress.gls-italy.com/wscheckaddress.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCheckAddressHttpGet" binding="tns:wsCheckAddressHttpGet">
      <http:address location="https://checkaddress.gls-italy.com/wscheckaddress.asmx" />
    </wsdl:port>
    <wsdl:port name="wsCheckAddressHttpPost" binding="tns:wsCheckAddressHttpPost">
      <http:address location="https://checkaddress.gls-italy.com/wscheckaddress.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>